.container {
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  justify-content: space-between;
  margin-top: 50px;
}
.wrapper {
  width: 100%;
  display: flex;
}
.wrapper_bg {
  overflow: hidden;
  background-color: var(--book--img-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.image {
  max-width: 190px;
}

.title {
  margin-bottom: 8px;
}

.button {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}
.delete {
  border: none;
  background-color: white;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
