:root {
  --main-bg-color: #ffffff;
  --post-bg-color: #ffffff;
  --text-primary: #313037;
  --text-secondary: #a8a8a8;
  --border-color: rgba(49, 48, 55, 0.1);
  --book--img-color: #d7e4fd;
  /* background-color: var(--post-bg-color); */
}

body[data-theme="dark"] {
  --main-bg-color: #313037;
  --post-bg-color: rgba(255, 255, 255, 0.1);
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.5);
  --border-color: rgba(255, 255, 255, 0.1);
}

.modal-open {
  overflow: hidden;
}
.modal-open body {
  overflow: hidden;
}
