.app {
  background-color: var(--main-bg-color);
}

.header {
  height: 104px;
  max-width: 1120px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.main {
  margin: 70px 0;
  min-height: calc(100vh - (104px + 95px + 120px));
  box-sizing: border-box;
  padding: 0 20px;
}
